@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}


@layer utilities {
    .perspective-1000 {
      perspective: 1000px;
    }
    .rotateX-10 {
      transform: rotateX(10deg);
    }
  }